<!-- src/app/components/login/login.component.html -->
<div class="login-container">
  <div class="login-header">
    <h1>Vamos a buscar la casa de tus sueños</h1>
    <p>Explore nuestra gama de hermosas propiedades con el añadido de un alojamiento independiente adecuado para usted.</p>
    <h2>Iniciar sesión</h2>
  </div>

  <div class="login-content">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">

      <!-- CAMPO CORREO -->
      <input
        type="email"
        placeholder="Correo"
        formControlName="correo"
        [class.invalid]="loginForm.get('correo')?.invalid && loginForm.get('correo')?.touched" />
      <div class="error" *ngIf="loginForm.get('correo')?.invalid && loginForm.get('correo')?.touched">
        <small *ngIf="loginForm.get('correo')?.errors?.['required']">El correo es obligatorio.</small>
        <small *ngIf="loginForm.get('correo')?.errors?.['email']">Correo no válido.</small>
      </div>

      <!-- CAMPO CONTRASEÑA -->
      <input
        type="password"
        placeholder="Contraseña"
        formControlName="contrasena"
        [class.invalid]="loginForm.get('contrasena')?.invalid && loginForm.get('contrasena')?.touched" />
      <div class="error" *ngIf="loginForm.get('contrasena')?.invalid && loginForm.get('contrasena')?.touched">
        <small *ngIf="loginForm.get('contrasena')?.errors?.['required']">La contraseña es obligatoria.</small>
        <small *ngIf="loginForm.get('contrasena')?.errors?.['minlength']">Mínimo 8 caracteres.</small>
      </div>

      <!-- ERROR DE AUTENTICACIÓN -->
      <div class="error" *ngIf="errorMsg">
        {{ errorMsg }}
      </div>

      <button type="submit" class="btn-submit" [disabled]="loginForm.invalid">Iniciar sesión</button>
    </form>

    
  </div>
</div>
