<div class="contenedor">
    <div class="encabezado">
      <h2>Propiedades disponibles</h2>
    </div>
  
    <div class="grid">
      <div class="tarjeta" *ngFor="let propiedad of propiedades">
        <img [src]="propiedad.imagen" alt="imagen propiedad">
        <div class="info">
          <h3>\${{ propiedad.precio }}<span>/noche</span></h3>
          <p class="titulo">{{ propiedad.titulo }}</p>
          <p class="direccion">{{ propiedad.direccion }}</p>
          <button class="editar">Ver</button>
        </div>
      </div>
    </div>
  </div>
  