<div class="container">
    <div class="main-content">
      <div class="text-content">
        <h1>Casi hemos terminado...</h1>
        <p>
          Pronto podrá utilizar nuestro servicio y descubrir nuevos lugares y paisajes.
          Lo único que tiene que hacer es activar su cuenta. 
        </p>
        <button class="cta-button">Activa tu cuenta aquí</button>
  
        <div class="stats">
          <div>
            <h2>10k+ inquilinos</h2>
            <p>confían en nuestro servicio</p>
          </div>
          <div>
            <h2>10k+ propidedades</h2>
            <p>y fincas listas para mudarse</p>
          </div>
        </div>
      </div>
  
      <div class="image-content">
        <img src="assets/images/Casa2.jpeg" alt="House Image" />
      </div>
    </div>
  </div>
  