<div class="container">
    <div class="main-content">
      <div class="text-content">
        <h1>We´re almost done...</h1>
        <p>
          You'll soon be able to use our service and discover new places and sights. 
          All you need to do is activate your account via the email we sent you.
        </p>
        <button class="cta-button">Activate your account here</button>
  
        <div class="stats">
          <div>
            <h2>10k+ renters</h2>
            <p>trust our service</p>
          </div>
          <div>
            <h2>10k+ properties</h2>
            <p>and country houses ready to move in</p>
          </div>
        </div>
      </div>
  
      <div class="image-content">
        <img src="assets/images/Casa2.jpeg" alt="House Image" />
      </div>
    </div>
  </div>
  